<!--
*----------------------------------------------------------------------------------
*-- Creado: AINIGUEZ                               Fecha: 03/08/2020            --
*-- Módulo: Consulta de Bienes                                                   --
*-- Plantilla HTML muestra la pantalla inicial de la aplicación logo de la       -- 
*-- institución texto de Bienvenida al sistema de consulta de Bienes             --
*----------------------------------------------------------------------------------
-->
<mat-card> 
    <img src="assets/estado.jpg" />
    <h1>Bienvenid@ al Sistema<br><br> CONSULTA DE BIENES</h1>
</mat-card>