<!--
*----------------------------------------------------------------------------------
*-- Creado: AINIGUEZ                               Fecha: 03/08/2020            --
*-- Módulo: Consulta de Bienes                                                   --
*-- Plantilla HTML muestra el botón de acceso a la descarga                      -- 
*----------------------------------------------------------------------------------
-->

<button matTooltip="Descargar reporte" 
    mat-icon-button (click)="openUrl()"><mat-icon [svgIcon]="archivo"></mat-icon>
</button> 
